/*
 Theme Name:     Manual Child Theme
 Theme URI:      http://wpsmartapps.com/
 Description:    Child Theme for Manual
 Author:         jabin Kadel
 Author URI:     http://www.jabinkadel.com
 Template:       manual
 Version:        1.0
*/

@import url("../manual/style.css");

@font-face {
    font-family: 'Palanquin Medium';
    src: url('fonts/palanquin/Palanquin-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
   }

   @font-face {
       font-family: 'Open Sans';
       src: url('fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
       font-weight: 400;
       font-style: normal;
      }

/* ------- Insert custom styles below this line ------- */
svg, .c3-title {
    font-family: Palanquin Medium;
    font-size: 18px;
    font-weight: 400;
}
.body-content .blog {
  background: #F1F5F5;
}
#mapid {
    height: 400px;
    width: 100%;
    z-index: 0;
}
.navbar.navbar-inverse {
    background: white !important;
}
.municipio-template-default .jumbotron_new {
  display: none;
}
.fa.fa-plus {
  font-size: 20px;
  line-height: 0px;
  color: white;
  position: absolute;
  top: 24px;
  left: 10px
}
.INFOPNSR_header {
  background: #694E92;
  height: 70px;
}
.INFOPNSR_headertitle {
  float: left;
  width: calc(100% - 10px);
}
.INFOPNSR_headertitle h2 {
  text-align: left;
  padding-left: 10%;
  margin: 0;
  color: white;
  line-height: 65px;
  font-size: 24px;
}
.INFOPNSR_headersearch {
  float: left;
  position: relative;
}
.INFOPNSR_headersearch input[type="text"] {
    position: absolute;
    top: 9px;
    min-width: 260px !important;
    width: 30vw !important;
    right: -1000px;
    display: none;
    /* z-index: -1; */
}
.INFOPNSR_headersearch input[type="text"].expanded {
    right: 40px;
    display: unset;
    /* z-index: 0; */
}
.INFOPNSR_headersearch input[type="submit"] {
    top: 9px;
    right: 0px;
}
#INFOPNSR_searchicon {
  top: 0px;
  right: 0;
  left: unset;
  background: #694E92;
  height: 69px;
  width: 30px;
  padding: 24px 30px 24px 0px;
}
.INFOPNSR_fonte {
  font-size: 12px !important;
  text-align: center;
}
header .INFOPNSR_fonte {
  margin-left: 20px;
}
/* c3 legend */
.legend-box {
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
  padding: 5px;
}
.legend-item {
  cursor: pointer;
  display: inline-block;
}
.legend-text {
  font-size:12px;
  white-space: nowrap;
}
.legend {
  width: 100% !important;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}
.sidebar-widget.footer-widget ul li, .jumbotron .bigtext {
    text-transform: none;
}
body.municipio-template-default {
  background: #F1F5F5;
}
.municipio .panel-group .panel {
  margin-top: 5px !important;
  border: 0px;
  /* border-bottom: 1px solid black; */
  border-radius: 0px;
}
.municipio .panel-default.panel {
  background: inherit;
}
.municipio .panel-title {
  color: #585858;
  text-transform: uppercase;
}
/* .municipio .panel-group .panel:first-of-type {
  border-top: 1px solid black;
} */
.municipio .panel-heading {
  position: relative;
  border-radius: 0px;
}
.municipio .panel-heading h4{
  color: white;
  font-weight: bold;
  margin:unset;
  display: inline-block;
  margin-left: 20px;
}
.municipio .panel-body h1 {
    font-size: 18px;
    line-height: 22px;
    hyphens: auto;
}
.municipio .panel-body .row {
  background: white;
  margin-bottom: 15px;
}
.home_banner {
   background:#684E93 !important;
}
.home_banner p {
  font-weight: bold !important;
}
.home_banner > div > div {
  padding: 15px 0px;
}
.INFOPNSR_municipios_header{
 background: #A5BE00 !important;
 padding-bottom: 0px !important;
}
.INFOPNSR_municipios_header p {
 color: black;
}
.INFOPNSR_municipios_header p, .INFOPNSR_municipios_header h1#glob-msg-box {
    font-family: inherit !important;
    color: #545453 !important;
    text-align: left !important;
    font-weight: bold !important;
}
h1#glob-msg-box {
    font-size: 36px !important;
}
.INFOPNSR_municipios_header p {
    font-size: 1.4em !important;
    line-height: normal;
}
.INFOPNSR_municipios_search {
  background: #684E93;
  padding: 20px 0px;
}
.INFOPNSR_municipios.container {
    margin-top: 50px;
    margin-bottom: 50px;
}
.INFOPNSR_download_data {
    position: absolute;
    top: 19px;
    left: 20px;
}
.INFOPNSR_download_png {
    position: absolute;
    top: 19px;
    left: 40px;
}
@media (max-width:768px) {
  .body-content .blog {
      padding: 5px 0px 0 !important;
  }
}
.owl-theme .owl-controls {
    display: none !important;
}
.browse-help-desk-div i {
    display: none;
}
.counter-text {
    text-align: left;
}
.body-content .counter-text ul {
    padding-left: 0px;
}
.body-content .counter-text ul > li {
    list-style: none;
}
.loop-help-desk h5 {
    font-size: 22px;
}
.loop-help-desk a {
    font-size: 18px;
    color: #4d515c;
}
.browse-help-desk {
  padding-top: 25px;
  border: 0px;
}
.browse-help-desk > a {
  display: none;
}
.INFOPNSR_municipios h1 {
    font-size: 28px;
    line-height: 40px;
    text-align: left;
}
.INFOPNSR_municipios p,.INFOPNSR_municipios #footer-info .footer-msg-bar p {
    font-size: 18px !important;
    line-height: normal !important;
    text-align: left;
    font-weight: 500;
    color: inherit;
}
#footer-info .footer-msg-bar p {
    line-height: 28px !important;
}
.INFOPNSR_municipios .bg-color {
  background-image: url('http://infopnsr.eita.org.br/wp-content/uploads/2018/01/fundo_censo.jpg');
}
.INFOPNSR_municipios.container {
    padding-bottom: 20px;
}
.INFOPNSR_chartdescription{
    margin-top: 45px !important;
}
.INFOPNSR_number {
    font-size: 48px !important;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
}
.browse-help-desk {
  border-bottom: 0px;
}
.chart {
  margin-top: 30px;
  margin-bottom: 30px;
}

.custom-well {
  background: none;
}

@media (max-width:767px) {
	.body-content .knowledgebase-body {
	    margin-top: 0px;
	}
}

.body-content .knowledgebase-body h5::before {
	content: "\e018";
}


.modal_loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('images/loading.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal_loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal_loading {
    display: block;
}
